# These values are defaults/examples
# For production, these values should be changed, and the file copied and renamed to '.env'

################################################
# Mandatory section, please change all of these!
################################################

# System users for UI access
# The admin user will be used to create, update, delete any hardware, team, or user though the system UI
ADMIN_USER=root
ADMIN_PASSWORD=shroot

# Wildfly user for accessing the Wildfly admin management console
BACKEND_USER=root
BACKEND_PASSWORD=shroot

# DB credentials
DB_USER=folding_user
DB_PASSWORD=shroot

# Location of SSL server.crt and server.key on host
# These will need to be generated for your own machine, and are then available to the `frontend` container through a volume mount
# For instructions on how to generate these files, please check out:
# https://www.akadia.com/services/ssh_test_certificate.html
SSL_CERT_DIRECTORY=/usr/local/apache2/conf

# URL/IP address of the backend, used by the frontend to access the REST endpoints
REST_ENDPOINT_URL=https://internal.axihub.ca/folding

# The following are for the nav bar on the UI

# Event title for your own team
# If there are spaces and you are deploying on Windows, you might need to quote this value
TITLE=Extreme Team Folding
# Link to your own team forum
FORUM_LINK=https://forums.extremehw.net/forum/125-extreme-team-folding
# The root URL/IP address for the site
ROOT_URL=https://etf.axihub.ca


############################################
# System Configuration
#
# The default settings below should be fine,
# but feel free to play around with them
############################################

# Enables the automatic update of user stats
STATS_ENABLED=true

# If enabled, the system will update hardware PPD/multipliers from LARS
ENABLE_LARS_HARDWARE_UPDATE=true

# If enabled, the system will save the current month's stats
ENABLE_MONTHLY_RESULT_STORAGE=true

# If enabled, the system will reset stats for all users
ENABLE_STATS_MONTHLY_RESET=true

# Category parameters
# Defines the number of users permitted per category
# Also impacts the total size of a team (since team size is defined as the total number of users for all categories)
USERS_IN_AMD_GPU=1
USERS_IN_NVIDIA_GPU=1
USERS_IN_WILDCARD=1


########################
# Frontend Configuration
########################

# The read-only user will be able to view hardware/teams/users, but not make any changes
READ_ONLY_USER=root2
READ_ONLY_PASSWORD=shroot2

# Ports
HTTPS_FRONTEND_PORT=443


#######################
# Backend Configuration
#######################

# Ports
HTTPS_BACKEND_PORT=8443

# Memory
JAVA_XMS=512m
JAVA_XMX=2g

# URL for a Nexus server
# Only needs to be set if there is a Nexus server you wish to use, otherwise will go to Maven Central
NEXUS_URL=


########################
# Database Configuration
########################

# These values are assuming the `database` container is running PostgreSQL
# If you have changed the container (or are not using a container), these may need to be removed/updated

# DB parameters
POSTGRES_DB_NAME=folding_db
POSTGRES_PORT=5432


############################
# External URL Configuration
############################

# The URL for the LARS DB to retrieve the latest PPD information
LARS_URL_ROOT=https://folding.lar.systems

# The URL to the Folding@Home donor stats REST endpoint
STATS_URL_ROOT=https://api2.foldingathome.org
