# IntelliJ
*.iml
.idea/

# VS Code
.vscode/

# Build
*.args
*.log
target/
pom.xml.versionsBackup

# Generated jOOQ schema files
docker/database/jooq/me/
!docker/postgres/jooq/*.jar

# Environment files
.env
