# IntelliJ
*.iml
.idea/

# Build
target/

# Merged JS/CSS files (ignore full files, keep minified files)
docker/frontend/site/res/css/*.css
!docker/frontend/site/res/css/*.min.css
docker/frontend/site/res/js/*.js
!docker/frontend/site/res/js/*.min.js

# Generated jOOQ schema files
docker/postgres/jooq/me/
!docker/postgres/jooq/*.jar

# Environment files
.env
