<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <springProfile name="production">
        <property name="BASE_CONSOLE_LOG_PATTERN"
                  value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-50logger{50}] %msg%n"/>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <withJansi>true</withJansi>
            <encoder>
                <pattern>%highlight(${BASE_CONSOLE_LOG_PATTERN})</pattern>
            </encoder>
        </appender>

        <!-- General application log -->
        <appender name="SERVER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <append>true</append>
            <file>/var/backend/logs/server.log</file>
            <immediateFlush>true</immediateFlush>
            <encoder>
                <pattern>${BASE_CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/backend/logs/server.log.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>31</maxHistory>
                <totalSizeCap>1000MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <!-- Log for login/authentication requests -->
        <appender name="SECURITY_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <append>true</append>
            <file>/var/backend/logs/security.log</file>
            <immediateFlush>true</immediateFlush>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-8logger{8}] %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
            <rollingPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/backend/logs/security.log.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>31</maxHistory>
                <totalSizeCap>1000MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <!-- Log for REST requests -->
        <appender name="AUDIT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <append>true</append>
            <file>/var/backend/logs/audit.log</file>
            <immediateFlush>true</immediateFlush>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-5logger{5}] %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/backend/logs/audit.log.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>31</maxHistory>
                <totalSizeCap>1000MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <!-- Log for SQL queries -->
        <appender name="SQL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <append>true</append>
            <file>/var/backend/logs/sql.log</file>
            <immediateFlush>true</immediateFlush>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-3logger{3}] %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/backend/logs/sql.log.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>31</maxHistory>
                <totalSizeCap>100MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <!-- Log for stats retrieval -->
        <appender name="STATS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <append>true</append>
            <file>/var/backend/logs/stats.log</file>
            <immediateFlush>true</immediateFlush>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-5logger{5}] %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/backend/logs/stats.log.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>31</maxHistory>
                <totalSizeCap>1000MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <!-- Log for LARS update -->
        <!-- Monthly rollover -->
        <appender name="LARS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <append>true</append>
            <file>/var/backend/logs/lars.log</file>
            <immediateFlush>true</immediateFlush>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-5logger{5}] %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/backend/logs/lars.log.%d{yyyy-MM}.%i.log.zip</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>31</maxHistory>
                <totalSizeCap>1000MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="SERVER_LOG"/>
            <appender-ref ref="CONSOLE"/>
        </root>

        <!-- The 'additivity=false' option ensures audit data only goes to the audit log -->
        <logger name="audit" level="INFO" additivity="false">
            <appender-ref ref="AUDIT_LOG"/>
        </logger>

        <!-- The 'additivity=false' option ensures security data only goes to the security log -->
        <logger name="security" level="DEBUG" additivity="false">
            <appender-ref ref="SECURITY_LOG"/>
        </logger>

        <!-- The 'additivity=false' option ensures sql data only goes to the sql log -->
        <logger name="sql" level="INFO" additivity="false">
            <appender-ref ref="SQL_LOG"/>
        </logger>

        <!-- The 'additivity=false' option ensures stats data only goes to the stats log -->
        <logger name="stats" level="DEBUG" additivity="false">
            <appender-ref ref="STATS_LOG"/>
        </logger>

        <!-- The 'additivity=false' option ensures stats data only goes to the stats log -->
        <logger name="lars" level="DEBUG" additivity="false">
            <appender-ref ref="LARS_LOG"/>
        </logger>

        <!-- Suppress logging for unwanted packages -->

        <!-- Not interested in the jOOQ startup messages -->
        <logger name="org.jooq" level="WARN">
            <appender-ref ref="SERVER_LOG"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <!-- Not interested in the DispatcherServlet -->
        <logger name="org.springframework.web.servlet.DispatcherServlet" level="WARN">
            <appender-ref ref="SERVER_LOG"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <!-- Not interested in Hikari DB logs when starting DB connection -->
        <logger name="com.zaxxer.hikari" level="WARN">
            <appender-ref ref="SERVER_LOG"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <!-- On system startup, we see errors due to the DB not being online, don't need to see those exceptions -->
        <logger name="com.zaxxer.hikari.pool" level="OFF">
            <appender-ref ref="SERVER_LOG"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="test">
        <property name="BASE_CONSOLE_LOG_PATTERN"
                  value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-50logger{50}] %msg%n"/>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <withJansi>true</withJansi>
            <encoder>
                <pattern>%highlight(${BASE_CONSOLE_LOG_PATTERN})</pattern>
            </encoder>
        </appender>

        <!-- General application log -->
        <appender name="SERVER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <append>true</append>
            <file>/var/backend/logs/server.log</file>
            <immediateFlush>true</immediateFlush>
            <encoder>
                <pattern>${BASE_CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/backend/logs/server.log.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>31</maxHistory>
                <totalSizeCap>1000MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="SERVER_LOG"/>
            <appender-ref ref="CONSOLE"/>
        </root>

        <!-- Suppress logging for unwanted packages -->

        <!-- Not interested in the jOOQ startup messages -->
        <logger name="org.jooq" level="WARN">
            <appender-ref ref="SERVER_LOG"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <!-- Not interested in the DispatcherServlet -->
        <logger name="org.springframework.web.servlet.DispatcherServlet" level="WARN">
            <appender-ref ref="SERVER_LOG"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <!-- Not interested in Hikari DB logs when starting DB connection -->
        <logger name="com.zaxxer.hikari" level="WARN">
            <appender-ref ref="SERVER_LOG"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <!-- On system startup, we see errors due to the DB not being online, don't need to see those exceptions -->
        <logger name="com.zaxxer.hikari.pool" level="OFF">
            <appender-ref ref="SERVER_LOG"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>
